body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: black;
	text-transform: uppercase;
}

.wrapper {
width: 1200px;
margin: 0 auto;
}

a {
	text-decoration: none;
}

.modal form input {
	background-color: #f2f2f2;
}

.main-navigation {
	position: relative;
	font-weight: bold; 
}

.service-list {
	clear: both;
}


.site-navigation {
	display: flex;
	flex-wrap: wrap;
	margin: auto;

	width: 1200px;
	min-height: 56px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation li {
	padding-top: 15px; 
	padding-bottom: 15px;
	width: 240px;
}

.site-navigation li:first-child {
	margin-left: 72px;
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
}

.site-navigation li:nth-child(3), .site-navigation li:nth-child(4) {
	text-align: right;
}

.site-navigation li:last-child {
	margin-right: 72px;
}

.site-navigation a {
	display: block;
	color: black;
	vertical-align: middle;

	color: black;
	font-size: 14px;
	line-height: 21px;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.header-logo {
	width: 137px;
	height: 70px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  } 

.banner-bg {
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% -84px;
	min-height: 432px;
	padding-top: 76px;
	width: 1200px;
	margin-bottom: 60px;
	position: relative;
}

.banner-bg img {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 457px;
	height: 352px;
}

.explain {

	margin-bottom: 55px;
}

.explain p:first-child {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
}

.explain p:last-child {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}

.feature {
	display: flex;
	flex-wrap: wrap;
	max-height: 256px;
}

.feature-reverse {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.description-panorama {
	box-sizing: border-box;
	background-color: #81b3d2;
	width: 400px;
	text-align: center; 
	color: white;
	padding: 47px 59px 62px;
}

.description-panorama h2 {
	font-size: 21px;
	margin: 0 auto 23px;
	max-width: 160px;
}

.description-panorama p:last-child {
	margin-top: 24px;
}

.panorama {
	width: 800px;
	max-height: 256px;
}

.services-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.service-item {
	position: relative; 

	width: 400px;
	box-sizing: border-box;
	padding: 161px 30px 68px;
	text-align: center;
}

.service-item b {
	display: block;
	font-size: 21px;
	line-height: 26px;
	max-width: 200px;
	margin: 0 0 28px 64px; 
}

.service-item p {
	max-width: 300px;
	margin-top: 28px;
	margin-left: 15px;

}

.service-item .house::before {
	content: "";

	position: absolute;

	width: 75px;
	height: 72px;

	top: 60px;

	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
}

.service-item .food::before {
	content: "";

	position: absolute;

	width: 75px;
	height: 72px;

	top: 60px;
	right: 42%;

	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
}

.service-item .suvenir::before {
	content: "";

	position: absolute;

	width: 75px;
	height: 72px;

	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
}

.description-bridge {
	box-sizing: border-box;
	background-color: #81b3d2;
	width: 400px;
	height: 256px;
	text-align: center; 
	color: white;
	padding: 47px 48px 24px;
}

.description-bridge h2 {
	font-size: 21px;
	margin: 0 auto 23px;
	max-width: 160px;
}

.description-bridge p:last-child {
	margin-top: 24px;
}

.bridge {
	width: 800px;
	height: 256px;
}

.all-feature {
	background-color: #eee;
}

.feature-list {
	display: flex;
	flex-wrap: wrap;

	text-align: center;
	list-style: none;

	min-height: 255px;
	margin: 0;
	padding-left: 0;
}

.feature-item {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 45px;
	padding-bottom: 65px;
	width: 400px;
	box-sizing: border-box;
}

.feature-item h2 {
    margin: 0 auto 23px;
    max-width: 160px;
    font-size: 21px;
    font-weight: bold;
  } 

.number {
	margin: 10px 0 10px 0;
}  

.search-hotels {
	position: relative;
	width: 576px;
	margin: 0 auto;
	padding-top: 52px;
	text-align: center;
}

.search-hotels b {
	display: block;
    margin-bottom: 23px;
    font-size: 30px;
    color: #000;
    line-height: 36px;
}

.search-hotels p {
	line-height: 24px;
}

.button-search {
	display: block;
	width: 100%;
	min-height: 86px;
	border: 0;
	background-color: #766357;
	font-size: 21px;
	font-weight: bold;
	text-transform: inherit;
	color: white;
	margin-top: 47px;
}

.button-search:hover{
	background-color: #604e43;
}

.button-search:active {
	background-color: #503e33;
	color: #94b9d2;
}

.button-hotels {
	text-align: center;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: white;
	background-color: #81b3d2;
	width: 458px;
	height: 58px;
	border: 0;
}

.button-hotels:hover {
	background-color: #669ec0;
}

.button-hotels:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.search-hotels {
	text-align: center;
}

#date-in:hover,
#date-out:hover {
	background-color: #ebebeb;
}

#date-in:active,
#date-out:active {
	background-color: white;
}

.main-navigation a:alink {
	color: #766357;
}

/*
.map {
    position: relative;
    height: 593px;
} 

.image-map {
	height: 
}

*/

.main-footer {
	position: absolute;
	width: 1200px;
	display: flex;
	line-height: 26px;
	padding: 36px 0;
}

.page-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	line-height: 26px;
}

.page-footer b {
	text-transform: inherit;
	font-size: 21px;
	color: black;
}

.social {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}

.social li {
	margin-right: 8px;
}

.twitter {
	width: 48px;
	height: 46px;
	background: #81b3d2 url("../img/twitter.svg") no-repeat 50% 50%;
}

.facebook {
	width: 48px;
	height: 46px;
	background: #81b3d2 url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.utube {
	width: 48px;
	height: 46px;
	background: #81b3d2 url("../img/youtube.svg") no-repeat 50% 50%;
}

.button {
	display: block;
	width: 115px;
	height: 41px;
	margin-left: 8px;
}












.form-filters {
	display: flex;
	padding: 27px 72px 6px;
	color: #fff;
	background-image: url("../img/bg-catalog.jpg");
	background-position: 50% 35%;
	min-height: 217px;
}

.form-columns ul {
	margin: 0;
	padding-left: 0;
	list-style: none;

}

.filter-checkboxes {
	margin: 0 auto;
	padding: 
}



.left {
	width: 576px;
	display: flex;
}

.right {
	display: flex;
	width: 400px;
}


.search-header {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	line-height: 26px;
	padding: 23px 72px 21px;
}

.results {
	width: 135px;
}

.results p {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	line-height: 18px;
	align-items: center;
}

.sorting p {
	width: 105px;
}

.sorting-list {
	padding-left: 0; 
	display: flex;
	width: 250px;
	list-style: none;
}

.sorting-list li {
	padding-right: 33px;
}

.sorting-list a {
	color: #cacaca;
}

.sorting-list a:active {
	color: #95bed8;
}

.sorting-list a:focus {

}

.search-navigation {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.catalog-item {
	list-style: none;
	display: flex;
}

.catalog-image {
	width:135px;
	margin: 0;
	padding: 0;
}

.catalog-item_booking {
	padding-left: 31px;
    padding-right: 31px;
}

.catalog-item_booking h2>a {
	font-size: 21px;
	line-height: 26px;
	color: black;
}

.catalog-item_booking h2>a:hover {
	color: #81b3d2;
}

.catalog-item_booking h2>a:active {
	color: #cacaca;
}

.button-flex {
	display: flex;
	width: 265px;
}

.rating {
	flex-direction: column;
	align-items: flex-end;
}

.rating-star {
	max-width: 110px;
}


.button--blue {
	background-color: #81b3d2;
	width: 110px;
	height: 27px;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}	

.button--blue:hover {
	background-color: #669ec0;
}

.button--blue:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.button--brown {
	background-color: #766357;
	width: 142px;
	height: 27px;
	color: white;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}	

.button--brown:hover {
	background-color: #604e43;
}

.button--brown:active {
	background-color: #5496bd;
	color: #7e746e;
}

/*
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}